
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <img src="~/Content/images/smk-oil.jpg" alt="HomePage" style="width:1330px;height:450px;">

</div>

<section class="main-list p-main">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-4">
                <div class="main-list-item">
                    <img src="~/Content/images/customer300.jpg" class="main-list-img">
                    <div class="main-list-item-body">
                        <br />
                        <h2>CORPORATE</h2>
                        <p>
                            Power Lube Company has clients around the world because of its high quality oils that make you engin safe..
                        </p>
                        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                    </div>
                </div>
            </div>
         
            <div class="col-md-4">
                <div class="main-list-item">
                    <img src="~/Content/images/Factory22.png" class="main-list-img">
                    <div class="main-list-item-body">
                        <br />
                        <h2>FACTORY</h2>
                        <p>
                            In the mineral oil sector, in accordance with national and international standards, automotive and industrial..
                        </p>
                        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-list-item">
                    <img src="~/Content/images/Career33.png" class="main-list-img">
                    <div class="main-list-item-body">
                        <br />
                        <h2>CAREER</h2>
                        <p>
                            In the mineral oil sector, in accordance with national and international standards, automotive and industrial..
                        </p>
                        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>